.block-animation{
    padding: 100px 0;
    background: #eee;
    .container{
        max-width: 1200px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        gap: 30px;
        @include responsive('mobile-h'){
            flex-direction: column;
        }
    }
    .image{
        width: 600px;
        /*
        fade( x, y );
        Añade transformacion x e y, y opacity 0 al elemento.
        Se pueden pasar valores negativos, por ejemplo, para desplazar x hacia la izquierda
        Tambien se puede pasar un porcentaje
        */
        @include fade(-200px, 0);

        /*
        tr( duracion, propiedades, delay)
        */ 
        @include tr( 1s, all, 0 );
    }
    .text{
        max-width: 500px;
        @include fade(0, 200px);

        /*
        tre( duracion, propiedades, delay)
        a diferencia de tr(), tre tiene un easign aplicado que hace la animacion mas natural
        */ 
        @include tre( 1s, all, .5s );

        .title{
            font-size: rv(24px, 36px);
            margin-bottom: 20px;
        } 
    }

    .wp-admin &,
    &.in{
        /*
        cuando al contenedor se le aplica la clase in, o si esta dentro del admin, se revierten los estados de animacion
        */
        .image, .text{
            /*
            fadein();
            Aplica transformX(0px), transformY(0px) y opacity 1 para hacer aparecer el objecto
            */
            @include fadein();
        }
    }
} 
