.block-animation{
    padding: 100px 0;
    background: #eee;
    .container{
        max-width: 1200px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        gap: 30px;
        @include responsive('mobile-h'){
            flex-direction: column;
        }
    }
    .image{
        width: 600px;
        /*
        fade( x, y );
        Añade transformacion x e y, y opacity 0 al elemento.
        Se pueden pasar valores negativos, por ejemplo, para desplazar x hacia la izquierda
        Tambien se puede pasar un porcentaje
        */
        @include fade(0px, 0, false, 0);

        /*
        En este caso paso false para transition, para pasar un transicion custom para el elemento
        tr( duracion, propiedades, delay)
        */ 
        @include tr( 2s, all, 0 );
    }
    .text{
        max-width: 500px;
         
 
        .title{
            font-size: rv(24px, 36px); 
            margin-bottom: 20px;
            @include fade(0, 200px, true, 0);
        } 

        &__content{
            @include fade(0, 200px, true, 1);
            margin-bottom: rv(20px, 30px);
        }

        &__button{
            @include fade(0, 200px, true, 2);
        }
    }

} 
