.contact {

    &__title {
        color: $primary-color;
        margin-bottom: 20px;
        font-family: $bad;
    }

    &__text {
        margin: 0 auto;
        max-width: 100%;
        margin-bottom: 30px;

        p {
            letter-spacing: 1px;
            font-size: 16px;
        }
    }

    &__content {
        display: flex;
        max-width: 1200px;
        align-items: center;
    }

    &__subtitle {
        margin-bottom: 20px;

        p {
            text-transform: capitalize;
        }
    }

    &__data {
        text-align: left;
        flex: 40%;
    }

    &__form {
        width: 100%;
    }
}
