.faqs {
    &__tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &__item {
            margin: 20px;
            cursor: pointer;

            &.js-tab-active,
            &:hover {
                .faqs__tabs__image {
                    border-color: $primary-color;
                }
            }

            &.js-tab-active {
                .faqs__tabs__text {
                    &:before {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        margin-right: 5px;
                        background: $secondary-color;
                        content: '';
                    }
                }
            }
        }

        &__image {
            position: relative;
            width: 180px;
            height: 172px;
            border: 2px solid $white;
        }

        &__text {
            text-align: center;
            margin: 0 auto;
            margin-top: 10px;
            position: relative;
        }
    }

    &__tab {
        margin-top: 130px;
        display: none;

        @include responsive('tablet-v') {
            margin-top: 65px;
        }

        &.js-tab-active {
            display: block;
        }

        &__item {
            background: $white;
            border-bottom: 1px solid $third-color;

            &__question {
                width: 100%;
                text-align: center;
                @include h4();
                padding: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                @include responsive('tablet-v') {
                    padding: 20px;
                    text-align: left;
                }

                span {
                    margin-right: 45px;
                }

                &:after {
                    width: 15px;
                    height: 8px;
                    background: url(images/arrow.svg) center/contain no-repeat;
                    content: '';
                }
            }

            &__answer {
                margin: 0 auto;
                width: 629px;
                max-width: 100%;
                display: none;
                line-height: 1.4;

                @include responsive('tablet-v') {
                    width: 100%;
                    padding: 0 20px;
                }
            }

            &.js-open {
                background: $third-color;
                padding-bottom: 40px;
                border-color: $third-color;

                .faqs__tab__item__question {
                    &:after {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}
