.hero_simple {
    margin-top: 30px;
    margin-bottom: 79px;
    text-align: center;

    @include responsive('tablet-v') {
        margin-bottom: 39px;
    }

    &__title {
        @include h3();
        color: $primary-color;
    }

    &__text,
    .term-description {
        width: 700px;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        @include h5();
        color: $third-color;
        line-height: 1.5;  
        padding: 0 20px;    

        @include responsive('mobile-v') {
            margin-top: 15px;
        }
    }
}

.hero_simple + section {
   margin-top: 0; 
}
