.header {
  @include row();
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: transparent;


  &__top {
    width: 100%;
    padding: 40px 0 27px 0;

    @include responsive('tablet-h') {
      padding: 20px;
    }

    &__left {
      display: flex;
      align-items: center;
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }


  &__bottom {
    width: 100%;
  }

}

.scrolled {
  .header {
    background: $white;
    filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.1));
  }
}

.error_template {
  padding: 200px 0;

  .page-content {
    width: 50%;
    margin-top: 20px;

    @include responsive('mobile-v') {
      width: 100%;
    }
  }
}

.site-main {
  margin-top: 203px;

  @include responsive('tablet-h') {
    margin-top: 113px;
  }
}