.contact {

    &__title {
        @include title();
        color: $white;
    }

    &__text {
        margin: 0 auto;
        width: 1200px;
        max-width: 100%;
        margin-bottom: 30px;
        text-align: center;

        p {
            letter-spacing: 1px;
            font-size: 16px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding: 20px 0;

        @include responsive('tablet-h') {
            grid-template-columns: 1fr;
        }
    }

    &__subtitle {
        margin-bottom: 20px;

        p {
            //text-transform: capitalize;
        }

    }

    &__data {

        p {
            text-align: left;
        }
    }

    &__form {
        width: 100%;
    }

    &__gobar {
        text-align: center;
    }

    &__link {
        font-size: 16px;
        text-transform: capitalize;

        &:hover {
            opacity: 0.7;
        }
    }

    .download-file {
        width: 100%;
        display: block;
        margin: 20px 0;
        text-decoration: none;
    }
}