.site-menu {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  position: relative;

  @include responsive('tablet-h') {
    padding: 120px 30px;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #ffffff;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__item {
    margin: 0 15px;

    @include responsive('tablet-h') {
      margin: 20px auto;
      width: 30%;
      text-align: center;
    }

    @include responsiveMin('tablet-h') {
      &:hover {
        .submenu--banners {
          display: flex;
        }

        .submenu--list {
          display: block;
        }
      }
    }

    &--text {
      color: $white;
      text-decoration: none;

      &:hover {
        opacity: 0.5;
      }

      @include responsive('tablet-h') {
        color: $secondary-color;
      }
    }
  }
}

body:not(.home) {
  .site-menu__item--text {
    color: $secondary-color;
  }
}

.scrolled {

  header {
    .site-menu__item--text {
      color: $secondary-color;
    }
  }
}

.responsive__btn {
  background: transparent;
  float: left;
  position: relative;
  z-index: 11;
  width: 28px;
  height: 22px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
  margin-left: 25px;

  & span {
    display: inline-block;
    background: $third-color;
    width: 100%;
    height: 2px;
    transition: all 0.5s ease;
    position: absolute;
    left: 0;
  }

  & span:nth-child(1) {
    top: 0px;
  }

  & span:nth-child(2),
  & span:nth-child(3) {
    top: 9px;
  }

  & span:nth-child(4) {
    top: 18px;
  }

  &.burger_menu {
    display: block;
  }

  @include responsive('tablet-h') {
    display: block;
  }
}


.menu-responsive-open {
  .responsive__btn {
    span {
      background: $secondary-color;
    }

    span:nth-child(1) {
      top: 9px;
      width: 0%;
      left: 50%;
    }

    span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    span:nth-child(4) {
      top: 9px;
      width: 0%;
      left: 50%;
    }
  }

  .site-menu.burger_menu {
    display: block;
  }

  .header__bottom {
    transform: translate(0, 0);
  }
}