.grid--banner {

    .grid {
        &__title__heading {
            margin-bottom: 20px;
            text-align: center;
            color: $white;
            font-family: $bad;
        }

        &__text {
            margin: 0 auto;
            //width: 1200px;
            max-width: 100%;
            margin-bottom: 40px;

            p {
                letter-spacing: 0.5px;
                text-align: center;
            }
        }

        &__content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
            justify-items: center;
            margin: 0 auto;
            max-width: 100%;

            @include responsive ('tablet-h') {
                grid-template-columns: repeat(2, 1fr);
            }

            @include responsive ('mobile-h') {
                grid-template-columns: repeat(1, 1fr);
            }

            &.n-item-1 {
                .grid__item {
                    grid-column: span 4;
                }
            }

            &.n-item-2,
            &.n-item-6,
            &.n-item-10 {
                .grid__item {

                    &:nth-child(1),
                    &:nth-child(2) {
                        grid-column: span 2;
                    }
                }
            }

            &.n-item-3 {
                .grid__item {
                    &:nth-child(1) {
                        grid-column: span 4;
                    }

                    &:nth-child(2),
                    &:nth-child(3) {
                        grid-column: span 2;
                    }
                }
            }

            &.n-item-5 {
                .grid__item {

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        grid-column: span 2;
                    }
                }
            }

            &.n-item-7 {
                .grid__item {
                    &:nth-child(1) {
                        grid-column: span 2;
                    }
                }
            }

            &.n-item-9 {
                .grid__item {
                    &:nth-child(1) {
                        grid-column: span 4;
                    }
                }
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            grid-gap: 20px;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            min-height: 300px;
            overflow: hidden;
            border-radius: 1%;
            transition: all .3s ease;
            cursor: pointer;

            @include responsive ('tablet-h') {
                grid-column: 1/1;
                width: 100%;
            }

            @include responsive ('mobile-h') {
                grid-column: span 2;
            }

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba(0, 134, 255, 0) 5%, rgb(14 77 142) 100%);
                @include absolute();
                z-index: 2; 
            }

            img {
                transition: all .3s ease;
            }

            &:hover {
                transition: all .3s ease;
                img {
                    transform: scale3d(1.05,1.05,1.05);
                }
            }
        }

        &__title {
            font-family: $secondary-font;
            font-family: $bad;
            font-family: $lato;
            font-family: $poppins;
            text-transform: uppercase;
            color: $white;
            z-index: 3;
            text-align: center;

            &::after {
                content: '';
                border-top: 2px solid #FFD200;
                width: 60px;
                max-width: 100%;
                margin: 0 auto;
                display: block;
                margin-top: 5px;
            }
        }
    }

    .floating-link {
        @include absolute();
        z-index: 2;
    }

}