/* Text Block Custom Style */

@mixin text_block() {
	h1,h2,h3,h4,h5,h6 {
		color: $primary-color;
    margin-bottom: 20px 
	}

	h1 {
		@include h1();
	}
	h2 {
		@include h2();
	}
	h3 {
		@include h3();
	}
	h4 {
		@include h4();
	}
	h5 {
		@include h5();
	}
	h6 {
		@include h6();
	}
	p {
    @include h5();
		line-height: 1.4;
		margin-bottom: 1em;
	}
	ul, ol {
		padding-left: 15px;
		margin-bottom: 28px;
		line-height: 1.6;
	}
	ul {
		li {
			list-style: disc;
		}
	}
	a {
		color: $primary-color;

		&:hover {
			text-decoration: underline;
		}
	}

  blockquote {
    padding-left: 30px;
    border-left: 3px solid $primary-color;

    p {
      @include h4();
    }
  }

  img {
    width: auto;
    height: auto;
	max-width: 100%;
    margin: 0 0 28px 0;
  }

  .alignleft {
    float: left;
	max-width: 50%;
    margin-right: 30px;

	@include responsive('mobile-h') {
		max-width: 100%;
	}
  }

  .aligncenter {
    margin: 30px auto;
    display: block;
  }

  .alignright {
    float: right;
	max-width: 50%;
    margin-left: 30px;
	@include responsive('mobile-h') {
		max-width: 100%;
	}
  }
}

@mixin inputs() {
  height: 40px;
  line-height: 40px;
  background: none;
  border: 1px solid $third-color;
  padding: 0 25px;
  @include h6();
  color: $primary-color;

  &::placeholder {
    color: #BBBFC1;
  }
}


