.hero {
    aspect-ratio: 16/9;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    height: 100vh;

    &__image {
        @include absolute();
        z-index: -1;
    }

    &__content {
        width: 960px;
        max-width: 100%;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 50px;
        padding-bottom: 20px;
    }

    &__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 40px;

        @include responsive('mobile-h') {
            gap: 25px;
        }

        a {
            @include fade(0,100px,true,3);
        }
    }

    &__title {
        color: $secondary-color;
        text-transform: uppercase;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        font-family: $abril;
        @include fade(0,100px,true,1)
    }

    &__subtitle {
        font-weight: 300;
        text-transform: uppercase;
        color: $white;
        font-family: $default-font;
    }

    .misc {
        width: 121px;
        height: 2px;
        background: $white;
    }

    &__text {
        color: $white;
    }

    .button {
        //min-width: 289px;
    }
}

.hero--blog,
.hero--post {
    aspect-ratio: 2.49;

    .hero {
        &__image {
            &::after {
                height: 270px;
            }
        }
    }
}

.hero--home {
    justify-content: center;

    .hero {
        &__image {
            //height: 100vh;
            background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
        }
    }

    .hero-home__video,
    .home__image {
        width: 100%;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1;
            @include fade(0,0,true,0);
        }

        img,
        video {
            position: relative;
        }
    }
}