.hero--home {

    .hero {
        &__uppertitle {
            color: $white;
            font-weight: 700;
            font-family: $default-font;
            font-family: $bad;
            text-transform: uppercase;
            @include fade(0,100px,true,1)
        }

        &__content {
            padding-bottom: 0;
            position: relative;
            z-index: 2;
        }
    }
}