.banner--textimage {
	//margin: 0 auto;
	text-align: center;
	display: flex;

	.banner {

		&__title {
			@include title();
			color: $primary-color;
		}

		&__text {
			margin: 0 auto;
			max-width: 100%;
			margin-bottom: 30px;

			p {
				letter-spacing: 1px;
				font-size: 16px;
			}
		}

		&__content {
			display: flex;
			flex-flow: row wrap;
			gap: 40px;
			align-items: center;

			@include responsive('tablet-h') {
				flex-direction: column;
			}
		}

		&__subtitle {
			margin-bottom: 20px;
		}

		&__description {
			font-family: $bad;
			margin-bottom: 20px;

			h1,h2,h3,h4 {
				@include h4();
				margin-bottom: 30px;
				font-family: $bad;
				font-weight: 700;
			}

			p {
				letter-spacing: 1px;
			}

		}

		&__left {
			text-align: left;
			flex: 700;

			@include responsive('mobile-h') {
				text-align: center;
			}
		}

		&__right {
			display: flex;
			gap: 20px;
			flex: 700;

			@include responsive('tablet-h') {
				width: 100%;
			}

			@include responsive('mobile-v') {
				flex-direction: column;
				gap: 40px;
			}
		}

		&__perfil {
			position: relative;
			display: flex;
			flex: 0 1 50%;
			max-width: 50%;
			min-height: 400px;
			border-radius: 0px 50px 0px 50px;
			overflow: hidden;

			@include responsive('tablet-h') {
				aspect-ratio: 440/550;
				min-height: auto;
			}

			@include responsive('mobile-v') {
				max-width: 100%;
			}
		}

		&__name {
			position: absolute;
			bottom: 20px;
			right: 0;
			padding: 20px 0;
			background-color: $white;
			text-align: center;
			width: 85%;
			opacity: 0.90;
			border-radius: 0 0px 0px 50px;
			text-transform: capitalize;
		}
	}
}

.bg-color {
	background-color: #FFFAF0; 
}