.banner--image {

    .banner {

        &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;

            @include responsive('mobile-h') {
                grid-template-columns: 1fr;
                gap: 20px;
            }
        }

        &__flyer {
            position: relative;
            aspect-ratio: 1;
            width: 100%;
            order-radius: 1%;
            overflow: hidden;
        }

        &__title {
            font-weight: 700;
            margin-bottom: 20px;
        }

        &__heading {
            margin-bottom: 20px;
            font-family: "Bad Script",cursive,sans-serif;
            text-align: center;
        }
    }
}